:root {
  --bg-color: #ffffff;
  --text-color: #1e1e1e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s, color 0.4s;
}

.dark {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
}
